language: node_js
node_js:
  - "0.10"

env:
  global:
    - KARMA_BROWSERS=Firefox,PhantomJS

install:
  - npm install

script:
  - grunt test --reporter=spec

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

after_success:
  - grunt coveralls
